*{
	box-sizing: border-box;
}
body, html, p {
	margin: 0;
	padding: 0;
}
.header-menu {
	width: 100%;
	position: fixed;
}
a{
	color: white;

}
.ssilka {
	background-color: black;
	display: inline-block;
	width: 20%;
	border: 2px solid white;
	padding: 10px;
}
.block {
	width: 300px;
	height: 400px;
	border: 2px solid grey;
	position: fixed;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -200px;
}
.text {
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 20px 40px;
}
.lesson10 {
	background-color: black;
	padding: 10px;
}